/auth.py export-ignore
/main.py export-ignore
/mainwindow.py export-ignore
/redefined_widgets.py export-ignore
/task_dialog.py export-ignore
/tools.py export-ignore
/UI/ export-ignore
/requirements.txt export-ignore
/.gitattributes export-ignore
/versionfile.txt export-ignore
/versionfile.yml export-ignore